.container {
    display: block;
    height: 100px;
    width: 300px;
    border: solid 1px #4CAF50;
}

.myButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Simulate Theme with CSS hierarchy */
.container .myButton {
    background-color: #d7f41a;
}