.container {
    display: block;
    height: 100px;
    width: 300px;
    border: solid 1px #4CAF50;
}

/* Simulate Theme with CSS hierarchy */
/* .container .myButton {
    background-color: #d7f41a;
} */