.container {
    display: block;
    height: 100px;
    width: 300px;
    border: solid 1px #af4c96;
}

/* Simulate Theme with CSS hierarchy */
/* .container .myButton {
    background-color: #13d4ed;
} */